body {
    background-color: #e4d8e7a8;
    margin: 0;
    color: rgb(236, 184, 238);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.container {

    background-color: purple;
    padding: 3rem;
    border-radius: 1rem;
    border: 8px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

